<div class="module-cnt">
  <div class="row h-100 d-flex align-content-center justify-content-center">
    <div class="col-md-12 m-0">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let users of dataSource">
            <tr>
              <td scope="row">
                {{ users.id }}
              </td>
              <td>
                {{ users.Name }}
              </td>
              <td>
                {{ users.Username }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
